//--------------------------------------
@media (max-width: 1439px)
    .container
        max-width: 960px
    .sidepanel
        display: none
    // .contacts
    //     &_wrapper
    //         padding-left: 30px
    //         padding-right: 15px
    //         grid-template-columns: 380px 490px
    //     &_descr
    //         &_form
    //             grid-template: 45px 160px 45px/repeat(2, 280px)
//---------------------------------------
@media (max-width: 1200px)
    .container
        max-width: 960px
    .sidepanel
        display: none
    .about
        &_wrapper
            grid-template-columns: 400px 520px
            column-gap: 40px
        &_skills
            column-gap: 20px
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px)
            &-item
                grid-template-columns: 40px 195px
                column-gap: 15px
    .resume
        &_wrapper
            padding: 60px 5px 0 5px
            grid-template-columns: repeat(2, 400px)
            justify-content: space-between
    .skills
        &_wrapper
            grid-template-columns: repeat(4, 220px)
            grid-template-rows: repeat(2, minmax(220px, auto))
            grid-auto-rows: minmax(220px, auto)
        &_item
            padding: 15px 10px
        &__ratings
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 290px)
            grid-auto-rows: minmax(70px, auto)
            justify-content: space-around
            &-line 
                width: 290px
    .portfolio
        &_wrapper
            grid-template-columns: repeat(auto-fit, 280px)
            grid-auto-rows: 280px
            justify-content: space-around
            row-gap: 20px
            .vertical
                grid-row: unset
                grid-column: unset
            .horisontal
                grid-row: unset
                grid-column: unset
    .contacts
        &_wrapper
            padding-left: 30px
            padding-right: 15px
            grid-template-columns: 350px 500px
        &_form
            grid-template: 45px 115px 45px / repeat(2, 240px)
//----------------------------------------
@media (max-width: 992px)
    .container
        max-width: 720px
    .title
        &_fz36
            font-size: 30px
    .about
        &_wrapper
            grid-template-columns: 300px 380px
        &_skills
            grid-template-columns: 380px
            grid-auto-rows: minmax(115, auto)
            &-item
                grid-template-columns: 40px 320px
                column-gap: 20px
    .resume
        &_wrapper
            padding: 60px 5px 0 5px
            grid-template-columns: 730px
    .skills
        &_wrapper
            grid-template-columns: repeat(3, 220px)
            grid-template-rows: repeat(2, minmax(220px, auto))
            grid-auto-rows: minmax(220px, auto)
        &_item
            padding: 15px 10px
        &__ratings
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 320px)
            grid-auto-rows: minmax(70px, auto)
    .price
        &_wrapper
            flex-direction: column
    .contacts
        &_wrapper
            padding-left: 50px
            padding-right: 35px
            grid-template-columns: 1fr
        &_photo
            display: none
        &_form
            grid-template: 45px 115px 45px / repeat(2, 1fr)
            column-gap: 10px
//----------------------------------------
@media (max-width: 768px)
    .container
        max-width: 540px
    .title
        &_fz48
            font-size: 28px
    .promo
        &_title
            width: 300px
            line-height: 39px
    .about
        padding-top: 40px
        &_wrapper
            grid-template: 340px auto auto / 1fr
        &_photo
            grid-row: unset
        &_skills
            grid-template-columns: repeat(2, 260px)
            &-item
                grid-template-columns: 40px 200px
                column-gap: 20px
    .resume
        &_wrapper
            padding: 60px 5px 0 5px
            grid-template-columns: 530px
    .skills
        &_wrapper
            grid-template-columns: repeat(2, 220px)
            grid-template-rows: repeat(2, minmax(220px, auto))
            grid-auto-rows: minmax(220px, auto)
            justify-content: space-around
        &_item
            padding: 15px 10px
        &__ratings
            display: none
    .portfolio
        padding-top: 40px
    .price
        &_wrapper
            flex-direction: column
    .contacts
        &_wrapper
            padding-left: 50px
            padding-right: 35px
            grid-template-columns: 1fr
        &_photo
            display: none
        &_form
            grid-template: 45px 115px 45px / repeat(2, 1fr)
            column-gap: 10px
        &_btn
            font-size: 12px
            font-weight: 700
            line-height: 16px
        &_policy
            font-size: 8px
            line-height: 12px
//----------------------------------------
@media (max-width: 576px)
    .container
        width: 100%
        padding: 0 10px
    .title
        &_fz48
            font-size: 26px
        &_fz36
            font-size: 24px
        &_fz16
            font-size: 12px
    .hamburger
        right: 20px
    .menu
        &_block
            width: 250px
            padding-left: 20px
            padding-top: 120px
    .promo
        background-image: url('../img/my_bg.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position-x: 57%
        &_btns
            margin-top: 30px
    .about
        &_wrapper
            grid-template: 340px auto auto / 1fr
        &_skills
            grid-template-columns: 1fr
            &-item
                grid-template-columns: 40px 200px
                column-gap: 20px
    .resume
        &_wrapper
            padding: 60px 5px 0 5px
            grid-template-columns: .8fr
    .skills
        &_wrapper
            grid-template-columns: 80%
            grid-template-rows: repeat(2, minmax(220px, auto))
            grid-auto-rows: minmax(220px, auto)
            justify-content: space-around
        &_item
            padding: 30px 25px
        &__ratings
            display: none
    .price
        &_wrapper
            flex-direction: column
            padding-left: 20px
            padding-right: 20px
    .contacts
        &_wrapper
            padding-left: 20px
            padding-right: 15px
            grid-template-columns: 1fr
        &_photo
            display: none
        &_form
            grid-template: 45px 115px 45px / repeat(2, 1fr)
            column-gap: 10px
        &_btn
            font-size: 8px
            font-weight: 700
            line-height: 16px
        &_policy
            font-size: 6px
            line-height: 10px
//----------------------------------------   